#work-packages-index
.inplace-edit--read
.wiki-anchor {
    display: inline;
}

#syntax-reference h2 {
    font-size: 1.1em !important;
}

#syntax-reference ul {
    margin-left: 1em !important;
    font-size: 0.9em !important;
}

#syntax-reference ol {
    font-size: 0.9em !important;
}

#syntax-reference > ul {
    margin-top: -1em !important;
}

#syntax-reference > ul > li {
    margin-top: 1em !important;
}

#syntax-reference > ul > li > ul > li > ol {
    margin-top: 1em !important;
}

#syntax-reference a {
    line-height: inherit !important;
}

.shrink-left-menu
#logo {
    width: 200px !important;
}

.shrink-left-menu
#main-menu {
    width: 200px !important;
}

.shrink-left-menu
#toggle-project-menu {
    width: 200px !important;
}

.shrink-left-menu
#content {
    width: calc(100% - 200px) !important;
    margin-left: 200px !important;
}

.shrink-left-menu
#breadcrumb {
    margin-left: 200px !important;
}

.shrink-left-menu
#main-menu a {
    font-size: 0.7em !important;
    line-height: 3em !important;
    height: auto !important;
}

.shrink-right-panel
.work-packages--right-panel {
    min-width: 0 !important;
    overflow-x: auto !important;
    width: 430px !important;
}

.shrink-right-panel .work-packages--left-panel {
    width: 100% !important;
}

.hide-right-panel.work-packages--right-panel {
    min-width: 0px !important;
    width: 0.001% !important;
}

.hide-right-panel.work-packages--left-panel {
    width: 100% !important;
}

#op-extensions-hide-side-panel-arrow-container {
    overflow: auto;
}

#op-extensions-hide-side-panel-arrow {
    float: right;
    margin-left: 20px;
    color: black;
}

.op-extensions-diff-button {
    padding-right: 7px;
    padding-left: 7px;
}

.edit-button-outside-editor
#work-package-description
.inplace-editing--trigger-link
{
    background-color: #F8F8F8 !important;
    width: 30px !important;
}

.edit-button-outside-editor
#work-package-description
.inplace-editing--container
{
    width: calc(100% - 30px) !important;
}

.visualization-view-on
#main {
    display: none;
}

.visualization-view-on
#visualization-view {
    display: block;
}

.visualization-view-off
#main {
    display: block;
}

.visualization-view-off
#visualization-view {
    display: none;
}

#visualization-view {
    padding: 5%;
    width: 100%;
}
