addHideSidePanelButton 
#op-extensions-hide-side-panel-arrow-container {
	overflow: auto;
}

#op-extensions-hide-side-panel-arrow {
	float: right;
	margin-left: 20px;
	color: black;
}

.op-extensions-diff-button {
	padding-right: 7px;
	padding-left: 7px;
}
